/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Gotham Rounded;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100vw;
  height: 100vh;
 
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}
/* Feature: Navbar Created By Harsh Rajani */
.navbar{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 10px;
  background-color: wheat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;

}
.container-fluid{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navbar-brand{
  text-decoration: none;
  font-size: 50px;
  font-weight: 400;
  color: black;
}
.nav_img{
  width: 58px;
  height: 60px;
  
}
.container {
  width: 800px;
  height: 500px;
  max-width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: 0 0 10px 2px;
          box-shadow: 0 0 10px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.question-container{
  width: 80%;
  height: 300px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(2,auto);
}
#question{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid black;
  border-radius: 10px;
}

.btn-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 10px auto;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 28px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

#answer-status {
  font-size: 25px;
  margin-bottom: 10px;
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hide {
  display: none;
}
/* change font size of questions and style=italic by Sweety*/
#question{
  font-size: 32px;
  font-style: italic;
}

.myteam{
  
  position: absolute;
  top: 620px;
  left: 125px;
  height: 840px;
  background-image: url("myteam_img.jpg")
}


